@import url('https://fonts.googleapis.com/css?family=Poiret+One');

* {
	box-sizing: border-box;
}

.row:before,
.row:after {
	content: "";
	display: table;
	clear: both;
}

body {
	background-color: rgb(22, 160, 133);
}
	
.container {
	width: 60vw;
	height: 70vh;
	background-color: rgb(26, 188, 156);
	margin: 0 auto;
	margin-top: 15vh;
	padding: 10vh;
	box-shadow: inset 0 0 9px 1px rgba(0, 0, 0, 0.47);
	/*-moz-box-shadow: inset 0 0 10px #000000;*/
	/*-webkit-box-shadow: inset 0 0 10px #000000;*/
	font-family: 'Poiret One';
	text-align: center;
}

.row {
	display: none;
	margin-bottom: 28px;
}

.header {
    margin-bottom: 1.5em;
}

.button {
    margin: 0 auto;
	border: 0;
	border-radius: 5%;
	background-color: rgb(230, 126, 34);
    margin-top: 15px;
    padding: 15px 40px;
	color: #fff;
	font: bold 28px 'Poiret One';
	cursor: pointer;
	transition: all 1.2s;
	box-shadow: 0 17px 10px -10px rgba(0,0,0,0.4);
}

.button:hover {
	transform: scale(1.2);
	box-shadow: 0px 37px 20px -20px rgba(0,0,0,0.2)
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 20vw;
	top: 15vh;
	width: 60vw;
	height: 70vh;
	padding: 100px;
	background-color: rgb(26, 188, 156);
    box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.47);
    animation-name: modalopen;
    animation-duration: 1s;
}	

/* .modal-content {
	padding: 100px;
} */

input {
	height: 50px;
	padding: 5px 10px;
	margin: 5px 0;
	border: 2px solid rgb(230, 126, 34);
	font: bold 24px 'Poiret One';
}

input:focus {
	outline: 0;
	border: 1px solid rgb(230, 126, 34);
}

.submit-button {
	margin-left: -8px;
	height: 50px;
    line-height: 50px;
    width: 50px;
    font-size: 24px;
    background-color: rgb(230, 126, 34);
    color: #FFF;
    border: 0;
    cursor: pointer;
}

.row > .col-4 {
	float: left;
	width: 33.33%;
}

.icon-btn {
	height: 100px;
	width: 100px;
	border: 0;
	border-radius: 50%;
	background-color: rgb(230, 126, 34);
	font-size: 60px;
	color: #fff;
	line-height: 100px;
	cursor: pointer;
}

.icon-btn-white {
	color: rgb(230, 126, 34);
    /* border: 3px solid rgb(243, 156, 18); */
    background-color: white;
}

.winner-player, .winner-computer {
	animation: pulse 2s infinite;
    animation-play-state: paused;
}

.hide-element {
	display: none;
}

.game-score {
	font-size: 24px;
}

.bold-text {
	font-weight: bold;
}

.colon {
	font-size: 40px;
}

@keyframes modalopen {
    from {height: 0%; opacity: 0;}
    to {height: 70%; opacity: 1;}
}

@keyframes pulse {
	0% {transform: scale(1);}
    50% {transform: scale(1.2);}
    100% {transform: scale(1);}
}

@media(max-width: 1199px) {
	.container {
		width: 80vw;
		height: 80vh;
		margin-top: 10vh;
	}

	.modal {
		width: 80vw;
		height: 80vh;
		left: 10vw;
		top: 10vh;
	}

	@keyframes modalopen {
		from {height: 0%; opacity: 0.3;}
		to {height: 80%; opacity: 1;}
	}
}

@media(max-width: 991px) {
	.container {
		padding: 10vh 2vw;  
	}

	.button {
		padding: 15px;
	}
}

@media(max-width: 767px) {
	.container {
		width: 96vw;
		height: 96vh;
		margin-top: 2vh;
		padding: 5vh 0; 
	}

	.button {
		padding: 10px;
		font-size: 22px;
	}

	.modal {
		width: 96vw;
		height: 96vh;
		left: 2vw;
		top: 2vh;
		padding: 80px 15px; 
	}

	.icon-btn {
		height: 80px;
		width: 80px;
		font-size: 50px;
		line-height: 80px;
	}

	.mobile-font {
		font-size: 15px;
	}
			
	@keyframes modalopen {
		from {height: 0%; opacity: 0.3;}
		to {height: 96%; opacity: 1;}
	}
}